*.DS_Store
*.pyc
*.swp
*.pem
*.egg-info
*.ruby-version
.vscode
manifest.txt
missing-metadata.txt
dist
build
output*
datasets
iiif-downloads
.ipynb_checkpoints
models
geo

# force to include test dataset
!datasets/smithsonian_butterflies_10/jpgs

# force to include web folder
!clip_plot/web

